* {
  border-color: #44475a !important;
}
a {
  color: #8be9fd !important;
}
a:visited {
  color: #bd93f9 !important;
}
body {
  background-color: #282a36 !important;
  color: #6272a4 !important;
}
html {
  background-color: #282a36 !important;
}
input,
textarea {
  background-color: #282a36 !important;
  color: #6272a4 !important;
}
blockquote,
pre {
  background-color: #282a36 !important;
  color: #6272a4 !important;
}
* {
  border-color: #44475a !important;
}
a {
  color: #8be9fd !important;
}
a:visited {
  color: #bd93f9 !important;
}
body {
  background-color: #282a36 !important;
  color: #6272a4 !important;
}
html {
  background-color: #282a36 !important;
}
input,
textarea {
  background-color: #282a36 !important;
  color: #6272a4 !important;
}
blockquote,
pre {
  background-color: #282a36 !important;
  color: #6272a4 !important;
}
