// * colors.styl

// ** Dracula colors

// From https://github.com/dracula/dracula-theme#color-palette

base03 = #282a36
base02 = #282a36
base01 = #44475a
base00 = #44475a
base0 = #6272a4
base1 = #6272a4
base2 = #f8f8f2
base3 = #f8f8f2
yellow = #f1fa8c
orange = #ffb86c
red = #ff5555
magenta = #ff79c6
violet = #bd93f9
blue = #8be9fd
cyan = #8be9fd
green = #50fa7b